<div
  [ngStyle]="{'margin-top' : '50px'}"
  class="text-center">
  <h2
    class="text-center main-theme-color fw-bold"
  >You Seem To Be Lost !</h2>
  <div class="illustration-holder">
    <img
      [ngStyle]="{'max-height' : '445px'}"
      src="../../assets/images/Monster%20404%20Error-rafiki.svg"
      alt="empty">
    <div class="row mt-2">
      <div class="col-12 m-auto d-flex justify-content-around">
        <button
          class="btn btn-primary m-auto"
          routerLink="/Create">Add New Project</button>
      </div>
    </div>
  </div>
</div>
