<h1 class="text-center main-theme-color fw-bold">Project Information</h1>
<div class="info-container m-auto flex-wrap d-flex justify-content-center">
  <div class="data-container d-flex justify-content-center align-items-center mb-3">
    <h3 class="data-label main-theme-color mx-3 fw-bold">Project Name:</h3>
    <h4 class="data-value fw-bold">{{project.name}}</h4>
  </div>
  <div class="data-container d-flex justify-content-center align-items-center mb-3">
    <h3 class="data-label main-theme-color mx-3 fw-bold">Project Description:</h3>
    <h4 class="data-value fw-bold">{{project.description}}</h4>
  </div>
  <div class="data-container d-flex justify-content-center align-items-center mb-3">
    <h3 class="data-label main-theme-color mx-3 fw-bold">Project Type:</h3>
    <h4 class="data-value fw-bold">{{project.type}}</h4>
  </div>
  <div class="data-container d-flex justify-content-center align-items-center mb-3">
    <h3 class="data-label main-theme-color mx-3 fw-bold">Project Start Date:</h3>
    <h4 class="data-value fw-bold">{{project.startDate}}</h4>
  </div>
  <div class="data-container d-flex justify-content-center align-items-center">
    <h3 class="data-label main-theme-color mx-3 fw-bold">Project Progress:</h3>
    <div class="progress data-value">
      <div class="progress-bar progress-bar-striped progress-bar-animated"
           role="progressbar"
           aria-valuenow="50"
           aria-valuemin="0" aria-valuemax="100"
           [ngStyle]="{width: taskPerStr}">{{tasksPer}}%</div>
    </div>
  </div>
  <div
    class="deleteProject"
    (click)="onDeleteProject()">
    <img src="../../../assets/images/delete.svg" alt="delete">
  </div>
</div>
